body {
    font-family: Arial, sans-serif;
    background-image: url(pic1\ for\ background.webp);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
}

.heading{
    font-size: 24px;
}

.welmessage{
    font-size: 20px;
}
.home-box {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button-box {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color:  rgb(144, 236, 90);;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #95e78d;
}
